<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    
    <link rel="stylesheet" href="static/css/style.css">
    <title>Papy Robot</title>
</head>
<body>
    <div class="container">
        <header class="row justify-content-center align-items-center">
            <div class="col-2 d-block d-md-none">
                <img id="papy2" src="static/img/grandpere.png" />
            </div>
            <div class="col-10 col-md-12 text-center">
                Papy Robot: l'information utile mais pas que !
            </div>
        </header>
        <div class="main-div row">
            <div class="container">
                <div class="row">
                    <div id="papy-div" class="col-md-2 d-none d-md-block">
                        <img id="papy" class="img-fluid" src="static/img/grandpere.png" />
                    </div>
                    <div id="dialog-box" class="col-12 col-md-10 order-2 order-md-1">
                        <img id="virgule-bulle" class="d-none d-md-block" src="static/img/virgule-bulle.png" alt="">
                        <div id="textArea">Quel lieu cherches tu?</div>
                    </div>
                    <div class="col-12 order-1 order-md-2">
                        <!-- <form action="" method="GET"> -->
                            <input class="form-control question" type="text" name="question" placeholder="Pose ta question ici et valide avec [Enter]" onsubmit="return validateFormOnSubmit(this);">
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
        <footer class="row justify-content-center align-items-center">
            <a href="https://github.com/Zepmanbc/oc_dapython_pr7">
                <img src="static/img/github5.png" alt="Github">
            </a>
            <a href="https://twitter.com/Zepmanbc">
                <img src="static/img/logo-twitter-rond.png" alt="Twitter">
            </a>
            BENJAMIN.C
        </footer>
        <div class="loading">
            <img src="static/img/loading.gif" alt="Loading">
        </div>
    </div>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/front.js"></script>
    <script src="static/js/ajax.js"></script>
</body>
</html>