<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Papy Robot</title>
</head>
<body>
    <div class="container">
        <header class="row justify-content-center align-items-center">
            <div class="col-2 d-block d-md-none">
                <img id="papy2" src="{{ url_for('static', filename='img/grandpere.png') }}" />
            </div>
            <div class="col-10 col-md-12 text-center">
                Papy Robot: l'information utile mais pas que !
            </div>
        </header>
        <div class="main-div row">
            <div class="container">
                <div class="row">
                    <div class="container">
                            <div id="history" class="row">
                                <!-- <div class="col-12">
                                    <div class="papySpeak">Quel lieu cherches tu?</div>
                                </div>
                                <div class="col-12 text-right">
                                    <div class="userSpeak">c'est où Openclassrooms?c'est où Openclassrooms?c'est où Openclassrooms?c'est où Openclassrooms?c'est où Openclassrooms?c'est où Openclassrooms?c'est où Openclassrooms?</div>
                                </div> -->
                            </div>
                    </div>
                    <div id="papy-div" class="col-md-2 d-none d-md-block">
                        <img id="papy" class="img-fluid" src="{{ url_for('static', filename='img/grandpere.png') }}" />
                    </div>
                    <div id="dialog-box" class="col-12 col-md-10">
                        <img id="virgule-bulle" class="d-none d-md-block" src="{{ url_for('static', filename='img/virgule-bulle.png') }}" alt="">
                        <div id="textArea">Quel lieu cherches tu?</div>
                    </div>
                    
                    <div class="col-12">
                        <!-- <form action="" method="GET"> -->
                            <input class="form-control question" type="text" name="question" placeholder="Pose ta question ici et valide avec [Enter]" onsubmit="return validateFormOnSubmit(this);">
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
        <footer class="row justify-content-center align-items-center">
            <a href="https://github.com/Zepmanbc/oc_dapython_pr7">
                <img src="static/img/github5.png" alt="Github">
            </a>
            <a href="https://twitter.com/Zepmanbc">
                <img src="static/img/logo-twitter-rond.png" alt="Twitter">
            </a>
            BENJAMIN.C
        </footer>
        <div class="loading">
            <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="Loading">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/front.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GMAPKEY }}"
    async defer></script>
</body>
</html>